@media (max-width: 1520px) {
    .contact-content-container {
        margin: 300px 5% 0 5%;
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    #gmap_canvas {
        width: 100% !important
    }
    .contact-content-container form,
    .contact-content-container > div {
        width: 670px
    }
    .contact-content-container > div {
        margin-top: 15px
    }
    .contact-info {
        margin-top: 50px
    }
}
@media (max-width: 1270px) {
    .contact-content-container {
        margin-top: 200px
    }
}

@media (max-width: 760px) {
    .contact-content-container > div,
    .contact-content-container form {
        width: 100%
    }
    .contact-content-container form > div > textarea {
        width: 100% !important
    }
    .gmap_canvas {
        width: 100% !important
    }
    .mapouter {
        height: auto !important;
        width: auto !important
    }
}

@media (max-width: 600px) {
    .contact-content-container > div > div:first-child {
        flex-direction: column;
    }
    .contact-content-container > div > div:first-child p {
        margin-top: 15px;
        width: 100%
    }
}
@media (max-width: 460px) {
    .contact-content-container button {
        margin-left: 150px
    }
}
@media (max-width: 420px) {
    .contact-info {
        margin-top: 100px
    }
    .contact-content-container form > div:last-child {
        flex-direction: column;
    }
    .contact-content-container button {
        margin-left: 0;
        margin-top: 15px
    }
}