@media (max-width: 1080px) {
    .ethic-link-container, .ethic-list-container {
        width: 100%;
        padding-top: 25px
    }
    .ethic-container {
        padding-top: 25px
    }
    
}
@media (max-width: 700px) {
    .qr-container {
        flex-direction: column-reverse;
        height: auto;
    }
    .qr-code {
        margin-top: 25px;
        width: auto
    }
    .iframe {
        width: 100%;
        height: 400px;
    }
}