@media (max-width: 1520px) {
    .valores-content-container {
        margin: 0 5%;
        width:auto
    }
}
@media (max-width: 1270px) {
    .valores-container-header img {
        margin-top: 92px
    }
}
@media (max-width: 1100px) {
    .valores-content-container > div > div {
        flex-direction: column;
    }
    .valores-content-container > div > div > img,
    .valores-content-description {
        width: 100%;
        margin-top: 15px
    }
    .valores-content-container > div > div:last-child {
        justify-content: center;
    }
    .valores-content-card {
        width: 100%;
        flex-direction: column;
    }
    .valores-content-card img {
        width: auto;
        height: 250px;
        margin: 0 0 15px 0
    }
    .valores-container-header p {
        left: 0;
        margin: auto 5%;
        width: auto;
        top: 440px
    }
}
@media (max-width: 600px) {
    .valores-container-header img {
        margin-top: 62px
    }
}
@media (max-width: 390px) {
    .valores-container-header p {
        font-size: 3rem;
        top: 320px
    }
}
@media (max-width: 340px) {
    .valores-container-header img {
        margin-top: 39px
    }
}
@media (max-width: 280px) {
    .valores-container-header p {
        font-size: 2rem;
        line-height: 2.7rem;
    }
}