.button-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    position: relative
}
.red-button {
    background: #A02E33;
    color: white
}
.white-button {
    background: white;
    color: black;
    position: absolute;
    bottom: 67px;
    z-index: 10;
}