.button-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    position: relative;
}
.red-button, .white-button {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 12px 7px 10px;
}
.red-button {
    background: #A02E33;
    color: white
}
.white-button {
    background: white;
    color: black;
    position: absolute;
    bottom: 67px;
    z-index: 10;
}