@media (max-width: 700px) {
    .white-button {
        bottom: 140px
    }
    .white-button-product {

    }
}
@media (max-width: 460px) {
    .white-button {
        bottom: 190px
    }
}
@media (max-width: 300px) {
    .white-button {
        bottom: 215px
    }
}
@media (max-width: 280px) {
    .button-component {
        margin: auto 5%
    }
    .red-button {
        height: auto;
        border-radius: 35px;
    }
}