.situacion-container {
    border-top: solid 1px black;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 300px;
    justify-content: center;
    width: 1440px
}
.situacion-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px
}
.situacion-text-container h4 {
    font-size: 37px;
    margin: 0;
    /* margin-right: 132px; */
    width: 480px
}
.situacion-card {
    display: flex;
    flex-direction: row;
    width: 65.8%
}
.situacion-card > p {
    font-weight: bold;
}
.situacion-card > p:first-child {
    width: 82%
}
.situacion-card > p:last-child {
    font-weight: normal;
}
.situacion-slider {
    position: relative
}