.situacion-container {
    border-top: solid 1px black;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 300px;
    justify-content: center;
    width: 80%
}
.situacion-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px
}
.situacion-text-container h4 {
    font-size: 37px;
    margin: 0;
    margin-right: 132px
}
.situacion-container p {
    font-weight: bold;
}
.situacion-container > p:first-child {
    width: 31%
}
.situacion-text-container > p:last-child {
    width: 49.45%;
    font-weight: normal;
    margin-left: 22px
}
.situacion-slider {
    position: relative
}