.alcoholes-container-header {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 302px;
    width: 72.82%;
}
.alcoholes-container-header-title {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.alcoholes-container-header-title h4 {
    font-size: 37px;
    margin: 0
}
.alcoholes-container-header-title p {
    width: 49.3%;
}
.alcoholes-header-apli-carac-img-container {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    margin-top: 60px;
    padding-top: 10px
}

.alcoholes-header-apli-carac-container {
    width: 60%
}
.alcoholes-header-apli-carac-title {
    font-weight: bold;
    width: 30%
}
.alcoholes-header-apli-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.alcoholes-header-apli-definition {
    width: 40%;
}
.alcoholes-header-carac-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px
}
.alcoholes-header-carac-container ul {
    list-style: none;
}
.alcoholes-header-carac-container > div {
    width: 80%
}
.alcoholes-header-carac-container > div > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding-top: 7px;
    padding-bottom: 10px;
    width: 100%
}
.alcoholes-header-carac-container > div > ul > li > p, ul {
    width: 100%
}
.alcoholes-header-carac-container > div > ul > li:last-child {
    border: none
}
.alcoholes-header-img {
    width: 60%;
    height: 688px;
    object-fit: cover;
    margin-left: 20px
}

.alcoholes-productos-container {
    width: 72.82%;
    border-top: 1px solid black;
    margin: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.alcoholes-productos-container h4 {
    margin: 0;
    margin-top: 15px
}
.alcoholes-productos-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px
}
.alcoholes-productos-container > div ul, .alcoholes-productos-container > div img {
    width: 49.3%
}
.alcoholes-productos-container img {
    object-fit: cover;
    height: 300px;
    border-radius: 0 15px 15px 15px
}
.alcoholes-productos-container li {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.alcoholes-productos-container li > p:first-child {
    font-weight: bold;
    width: 42.2%
}
.alcoholes-productos-container li > p:last-child {
    width: 80%
}