.alcoholes-container-header {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 302px;
    width: 80%;
}
.alcoholes-container-header-title {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.alcoholes-container-header-title h4 {
    font-size: 37px;
    margin: 0
}
.alcoholes-container-header-title p {
    width: 50%;
}
.alcoholes-header-apli-carac-img-container {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    margin-top: 60px;
    padding-top: 10px
}

.alcoholes-header-apli-carac-container {
    width: 60%
}
.alcoholes-header-apli-carac-title {
    font-weight: bold;
    width: 30%
}
.alcoholes-header-apli-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.alcoholes-header-apli-definition {
    width: 40%;
}
.alcoholes-header-carac-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px
}
.alcoholes-header-carac-container > div {
    width: 80%
}
.alcoholes-header-carac-container > div > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black
}
.alcoholes-header-carac-container > div > ul > li:last-child {
    border: none
}
.alcoholes-header-img {
    width: 50%;
    height: 688px;
    object-fit: cover;
    margin-left: 20px
}
