.donde-container {

}
.donde-container-header {
    width: 100%;
}
.donde-container-header img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 266px
}
.donde-container-header p {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
    position: absolute;
    top: 47%;
    width: 52%;
    margin: auto;
    left: 30%
}
.donde-container-estamos {
    border-top: 1px solid black;
    width: 72.82%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 60px
}
.donde-container-estamos h4 {
    font-size: 37px;
    margin: 0;
}
.donde-container-ubicacion {
    width: 66.34%;
    display: flex;
    flex-direction: column;
}
.donde-container-ubicacion img {
    width: 100%;
    margin-top: 28px
}
.donde-container-ubicacion-text {
    display: flex;
    flex-direction: row
}
.donde-container-ubicacion-text p:first-child {
    width: 19%
}
.donde-container-ubicacion-text p:last-child {
    width: 80%;
    margin-left: 50px
}

.donde-container-ventajas {
    width: 72.82%;
    border-top: 1px solid black;
    margin: auto;
    margin-top: 200px
}
.donde-container-ventajas h4 {
    font-size: 37px;
    margin: 0;
}
.donde-container-ventaja-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px
}
.donde-ventaja-card {
    border-top: 1px solid black;
    width: 32.3%;
    padding-top: 10px
}
.donde-ventaja-card p {
    font-weight: bold;
    font-size: 18px
}
.donde-ventaja-card img {
    width: 100%;
    height: 214px;
    object-fit: cover;
    margin-top: 28px
}

.donde-slider-container {
    width: 80%;
    border-top: 1px solid black;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    justify-content: center;
}
.donde-slider-container h4 {
    margin: 0;
    margin-top: 15px
}
.donde-slider-container p {
    margin-top: 10px
}
.donde-slider-container > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px
}
.donde-slider-container > div:first-child > p:last-child {
    width: 50%
}