.ethic-list-container {
    display: flex;
    flex-direction: row;
    padding-top: none !important;
    justify-content: flex-start !important;
}
.ethic-list {
    width: 65% !important;
}
.ethic-list ul {
    margin-top: 0 !important
}
.ethic-link-container {
    width: 50%
}
.ethic-text {
    margin-bottom: 25px
}
.ethic-link {
    font-size: 37px;
    margin-top: 25px;
    color: #a02e33
}
.ethic-link:hover {
    color: black
}

.qr-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
    margin: 25px 0
}
.qr-code {
    width: auto;
}
.iframe {
    width: 65%;
}