.uva-container-header {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 300px;
    width: 1440px;
}
.uva-container-header-title {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.uva-container-header-title h4 {
    font-size: 37px;
    margin: 0
}
.uva-container-header-title p {
    width: 49.43%;
}
.uva-header-apli-carac-img-container {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    margin-top: 60px;
    padding-top: 10px
}

.uva-header-apli-carac-container {
    width: 60%
}
.uva-header-apli-carac-title {
    font-weight: bold;
}
.uva-header-apli-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px
}
.uva-header-apli-container > p:first-child {
    margin-right: 110px;
    width: 30%
}
.uva-header-apli-container > p:last-child {
    width: 68%
}
.uva-header-apli-container > ul {
    width: 68%;
    margin-right: 10px;
    list-style: none;
    margin-right: 23px
}
.uva-header-apli-container > ul > li {
    border-bottom: solid 1px black;
    padding-top: 10px;
    padding-bottom: 7px
}
.uva-header-apli-container > ul > li:first-child {
    padding-top: 0px
}
.uva-header-apli-container > ul > li:last-child {
    border: none
}
.uva-header-apli-definition {
    width: 40%;
}
.uva-header-carac-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px black;
    padding-top: 10px
}
.uva-header-carac-container > ul {
    width: 66.7%
}
.uva-header-carac-container > ul > li {
    padding-top: 10px;
    padding-bottom: 7px
}
.uva-header-carac-container > ul > li:first-child {
    padding-top: 0px
}
.uva-header-carac-container > ul > li:last-child {
    border: none
}
.uva-header-carac-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black
}
.uva-header-carac-li > p:last-child {
    width: 50%
}
.uva-header-carac-li > ul {
    width: 45%;
}
.uva-header-img {
    width: 60%;
    height: 688px;
    object-fit: cover;
    margin-left: 20px
}



.uva-productos-container {
    border-top: 1px solid black;
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 315px;
}
.uva-productos-container h4 {
    font-size: 37px;
    margin: 0;
    margin-top: 15px
}
.uva-productos-container li {
    border-top: 1px solid black
}
.uva-productos-container li:first-child{
    border-top: none;
    padding-top: 0px
}
.uva-productos-container > div {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
}
.uva-productos-container > div > div {
    width: 705px;
    padding-top: 5px;
    margin-bottom: 48px
}
.uva-productos-container > div > div > div:first-child > p:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 41%
}
.uva-productos-container > div > div > div:first-child > p:last-child {
    width: 100%
}
.uva-productos-container > div > div > img {
    border-radius: 15px 15px 15px 0;
    height: 300px;
    width: 100%;
    /* object-fit: cover; */
}
.uva-productos-container > div > div > div {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    margin-top: 15px;
    border-top: 1px solid black;
}
.uva-productos-carac {
    height: 380px;
}
.uva-productos-container > div > div > div:first-child {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    margin-top: 15px;
    height: 141px;
}
.uva-productos-container > div > div > div > div  {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    justify-content: space-between;
}
.uva-productos-container > div > div > div > div > p  {
    width: 40%
}
.uva-productos-container > div > div > div > div > ul  {
    width: 60%
}
.uva-productos-container > div > div > div > div > ul > li {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 7px
}
.uva-productos-container > div > div > div > div > ul > li > p:first-child {
    margin-right: 25%;
    width: 30%
}
.uva-productos-container > div > div > div > div > ul > li > p {
    width: 49%
}
.uva-productos-container > div > div > div > div > ul > li > ul > li:first-child {
    border-top: none
}
.uva-productos-container > div > div > div > div > ul > li > ul{
    width: 49%;
    list-style: none;
}
.uva-productos-container > div > div > div > div > ul > li > ul > li{
    padding-top: 10px;
    padding-bottom: 7px
}
.uva-productos-container > div > div > div > div > ul > li > ul > li:first-child{
    padding-top: 0px
}
.uva-productos-subtitle {
    padding-top: 10px;
    padding-bottom: 7px
}
.r55l {
    object-position: 0px -40px;
}
.b55l {
    object-position: 0px -54px
}
