.historia-crono2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 300px 5% 300px 5%;
    width: auto
}
.crono2-div {
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px
}
.crono2-div > p {
    margin-bottom: 15px
}