.index-container {

}
.index-container-header {
    width: 100%
}
.index-container-header img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 266px
}
.index-container-header-h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    position: relative;
}
.index-container-header h2 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
    position: absolute;
    bottom: 232px;
    width: 48.07%;
    margin: auto;
}
.index-text-title {
    font-size: 37px;
    color: #A02E33;
    width: 926px;
    text-align: center;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
}
.index-card {
    border-top: solid 1px black;
    width: 49.21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 442px;
    margin-top: 60px;
    padding-top: 10px
}
.index-card p {
    line-height: 20px;
}
.index-card-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.index-container-product {
    border-top: solid 1px black;
    width: 72.82%;
    margin: auto;
    margin-bottom: 300px;
}
.index-container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.index-container-text-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index-container-donde {
    border-top: solid 1px black;
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px
}
.index-container-donde-text {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}
.index-container-donde-text > div {
}
.index-card-donde {
    width: 66.34%
}
.index-donde-direccion {
    width: 89.35%;
    margin-right: 23px;
}
.index-donde-direccion span {
    display: block
}
.index-h2-donde {

}
.index-donde-img {
    width: 100%;
    height: 396px;
    object-fit: cover;
    margin-top: 28px
}
.index-title-card {
    font-weight: bold;
}
.index-text-card {
    width: 65.5%;
}
.index-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.index-card-button {
    position: absolute
}
/* .index-card > div:last-child {
    position: relative
} */