.index-container {

}
.index-container-header {
    width: 100%;
    opacity: 0
}
.index-container-header img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 266px
}
.index-container-header-h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    position: relative;
}
.index-container-header h2 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
    position: absolute;
    bottom: 232px;
    width: 942px;
    margin: auto;
}
.index-text-title {
    font-size: 37px;
    color: #A02E33;
    width: 926px;
    text-align: center;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
}
.index-card {
    border-top: solid 1px black;
    /* width: 49.21%; */
    width: 709px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 453px;
    margin-top: 60px;
    padding-top: 10px;
    opacity: 0
}
.index-card p {
    line-height: 20px;
}
.index-card-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 15px;
    object-position: right 80%;
}
.index-container-product {
    border-top: solid 1px black;
    width: 1440px;
    margin: auto;
    margin-bottom: 300px;
    margin-top: 100%;
    opacity: 0
}
.index-container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.index-container-text-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index-container-donde {
    border-top: solid 1px black;
    width: 1440px;
    margin: auto;
    margin-bottom: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 100%;
}
.index-container-donde-text {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}
.index-card-donde {
    width: 955px;
}
.index-donde-direccion {
    width: 89.35%;
    margin-right: 23px;
    opacity: 0
}
.index-donde-direccion span {
    display: block
}
.index-donde-text {
    opacity: 0
}
.index-donde-img {
    width: 100%;
    height: 396px;
    object-fit: cover;
    margin-top: 28px;
    opacity: 0
}

.index-title-card {
    font-weight: bold;
}
.index-text-card {
    width: 65.5%;
}
.index-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.index-card-button {
    position: absolute;
    top: 50px !important;
    opacity: 0;
}
/* .index-card > div:last-child {
    position: relative
} */

.index-card-vino {
    object-position: left -24px;
}
.index-card-tanino {
    object-position: left -86px;
}
.index-card-alcohol {
    object-position: left 0;
}
.index-card-semillas {
    object-position: left 0
}


.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 0 15px 15px 15px;
}
.view .mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    border-radius: 0 15px 15px 15px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.535);
    transition: all 0.4s ease-in-out;
    border-radius: 0 15px 15px 15px;
}
.view img {
    transition: all 0.2s linear;
}

.view button {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view button {
  position: relative;
  text-align: center
}
.view:hover img {
    transform: scale(1.1);
}
.view:hover .mask {
    opacity: 1;
}
.view:hover button {
  opacity: 1;
  transform: translateY(200px);
  /* transition-delay: 0.1s; */
}

.view-donde {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-top: 28px
    /* width: 60% !important;
    margin-left: 30% */
}
.view-donde .mask-donde {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.535);
    transition: all 0.4s ease-in-out;
}
.view-donde img {
    transition: all 0.2s linear;
}

.view-donde button {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-donde button {
  position: relative;
  text-align: center
}
.view-donde:hover img {
    transform: scale(1.1);
}
.view-donde:hover .mask-donde {
    opacity: 1;
}
.view-donde:hover button {
  opacity: 1;
  transform: translateY(250px);
  /* transition-delay: 0.1s; */
}

@keyframes fade-in {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
}
.fade-in {
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

@keyframes animation-bottom {
    0% {margin-top: 100%; opacity: 0}
    20% {opacity: 0}
    100% {margin-top: 60px; opacity: 1}
}

.text-centered-animated-bottom {
    animation-name: animation-bottom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
}


@keyframes header-fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
.index-container-header{
    animation-name: header-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.index-h2 {
    opacity: 0;
    animation-name: header-fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s
}
.button-fade-in {
    opacity: 0;
    animation-name: header-fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1500ms
}

@keyframes product-container-bottom {
    0% {opacity: 0; margin-top: 100%}
    30% {opacity: 0}
    100% {opacity: 1; margin-top: 60px}
}
.index-container-product-animated {
    animation-name: product-container-bottom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
}

@keyframes product-card-bottom {
    0% {opacity: 0; margin-top: 100%}
    40% {opacity: 0}
    100% {opacity: 1; margin-top: 60px}
}
.index-card-animated-bottom {
    position: relative;
    animation-name: product-card-bottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/* DONDE */
@keyframes animation-donde-bottom {
    0% {margin-top: 100%; opacity: 0}
    20% {opacity: 0}
    100% {margin-top: 0%; opacity: 1}
}
@keyframes animation-donde-img-fade-in {
    0% {opacity: 0}
    35% {opacity: 0}
    100% {opacity: 1}
}
.donde-animated {
    opacity: 0;
    animation-name: animation-donde-bottom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
}
.index-donde-direccion-animated {
    animation-name: animation-donde-bottom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
    animation-delay: 500ms;
}
.index-donde-text-animated {
    animation-name: animation-donde-bottom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
    animation-delay: 1s;
}
.index-donde-img-animated {
    animation-name: animation-donde-bottom, animation-donde-img-fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
    animation-delay: 1500ms;
}

@keyframes animation-button-bottom {
    0% {margin-top: 100%; opacity: 0}
    20% {opacity: 0}
    100% {margin-top: 0%; opacity: 1}
}
.index-button-mas {
    opacity: 0
}
.index-button-mas-animated {
    animation-name: animation-button-bottom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
}
.text-centered-fade-in {
    opacity: 0
}
.text-centered-bottom {
    opacity: 0
}