.pepita-container-header {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 302px;
    width: 72.82%;
    margin-bottom: 60px
}
.pepita-container-header-title {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.pepita-container-header-title h4 {
    font-size: 37px;
    margin: 0
}
.pepita-container-header-title p {
    width: 49.3%;
}
.pepita-header-apli-carac-img-container {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    margin-top: 60px;
    padding-top: 10px
}

.pepita-header-apli-carac-container {
    width: 60%
}
.pepita-header-apli-carac-title {
    font-weight: bold;
    width: 31%
}
.pepita-header-apli-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px
}
.pepita-header-apli-container ul {
    list-style: none;
}
.pepita-header-apli-container > ul {
    width: 31%;
}
.pepita-header-apli-container > ul > li {
    border-bottom: solid 1px black;
    padding-top: 7px;
    padding-bottom: 10px
}
.pepita-header-apli-container > ul > li:last-child {
    border: none
}
.pepita-header-apli-definition {
    width: 31%;
}
.pepita-header-carac-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px black;
    padding-top: 10px
}
.pepita-header-carac-container > p {
    width: 42%
}
.pepita-header-carac-container > ul {
    width: 80%
}
.pepita-header-carac-container > ul > li:last-child {
    border: none
}
.pepita-header-carac-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding-top: 10px;
    padding-bottom: 7px;
}
.pepita-header-carac-li p, .pepita-header-carac-li ul {
    width: 50%
}
.pepita-header-img {
    width: 60%;
    height: 688px;
    object-fit: cover;
    margin-left: 20px
}
