.taninos-container-header {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 302px;
    width: 72.82%;
}
.taninos-container-header-title {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.taninos-container-header-title h4 {
    font-size: 37px;
    margin: 0
}
.taninos-container-header-title p {
    width: 49.3%;
}
.taninos-header-apli-carac-img-container {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    margin-top: 60px;
    padding-top: 10px
}

.taninos-header-apli-carac-container {
    width: 60%
}
.taninos-header-apli-carac-title {
    font-weight: bold;
    width: 33%
}
.taninos-header-apli-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px
}
.taninos-header-apli-container > ul {
    width: 33%;
    margin-right: 10px;
    list-style: none;
}
.taninos-header-apli-container > ul > li {
    border-bottom: solid 1px black
}
.taninos-header-apli-container > ul > li:last-child {
    border: none
}
.taninos-header-apli-definition {
    width: 33%;
}
.taninos-header-carac-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    border-top: solid 1px black
}
.taninos-header-carac-container > ul {
    width: 71%
}
.taninos-header-carac-container > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black
}
.taninos-header-carac-container > ul > li:last-child {
    border: none
}
.taninos-header-carac-container > ul > li:last-child > p {
    width: 50%
}
.taninos-header-img {
    width: 49.3%;
    height: 688px;
    object-fit: cover;
    margin-left: 20px
}




.taninos-productos-container {
    border-top: 1px solid black;
    width: 72.82%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 315px;
}
.taninos-productos-container h4 {
    font-size: 37px;
    margin: 0
}
.taninos-productos-container li {
    border-top: 1px solid black
}
.taninos-productos-container > div {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
}
.taninos-productos-container > div > div {
    width: 49%;
    border-top: 1px solid black;
    padding-top: 5px;
}
.taninos-productos-container > div > div > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px
}
.taninos-productos-container > div > div > img {
    border-radius: 15px 15px 15px 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.taninos-productos-container > div > div > div {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    margin-top: 15px
}
.taninos-productos-container > div > div > div > p {
    width: 67%
}
.taninos-productos-container > div > div > div > div > ul > li {
    display: flex;
    flex-direction: row;
}
.taninos-productos-container > div > div > div > div > ul > li > p:first-child {
    margin-right: 25%;
    width: 30%
}
.taninos-productos-container > div > div > div > div > ul > li > p {
    width: 49%
}
.taninos-productos-container > div > div > div > div > ul > li > ul > li:first-child {
    border-top: none
}
.taninos-productos-container > div > div > div > div > ul > li > ul{
    width: 49%
}
.taninos-productos-carac ul {
    list-style: none;
}
.taninos-productos-carac {
    /* width: 70% */
}
.taninos-productos-carac > ul > li {
    padding-top: 10px;
    padding-bottom: 7px
}
.taninos-productos-carac > p {
    padding-bottom: 7px
}