@font-face {
    font-family: 'DiatypeLight';
    src: local('DiatypeLight'), url(../fonts/ABCDiatype-Light.woff) format('woff'),
        url(../fonts/ABCDiatype-Light.woff2) format('woff2');
    /* src: url('../public/fonts/ABCDiatype-Light.woff') format('woff'),
        url('../public/fonts/ABCDiatype-Light.woff2') format('woff2') */
}
body {
    font-family: 'DiatypeLight' !important;
    letter-spacing: 0;
}
a {
    text-decoration: none !important;
}
ul {
    margin: 0;
    padding: 0
}
ul.no-style {
    list-style: none
}
ul.circle {
    list-style: circle;
    padding-left: 20px
}
li{
    font-size: 18px;
    line-height: 20px;
}
h2{
    font-size: 18px;
    line-height: 20px;
}
h4 {
    font-weight: normal;
    font-size: 37px;
    line-height: 39px;
}
p{
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}
button {
    border: 0.5px solid black;
    height: 40px;
    font-size: 18px;
}
input {
    border: none;
    font-size: 18px;
    height: 33px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 7px;
    border-top: 1px solid black;
    color: #00000040;
}
label {
    font-size: 18px;
    height: 33px;
    padding-top: 10px;
    padding-bottom: 7px;
}
textarea{
    background-color: #0000000d
    ;
    border: none;
    resize: none;
    font-size: 23px;
}
span.parrafo {
    display: block;
    margin-top: 1rem
}
span.block {
    display: block
}
img.fit-none {
    object-fit: none
}
img.fit-cover {
    object-fit: cover
}
.italic {
    font-style: italic
}
.no-border {
    border: none !important
}

/* @media only screen and (max-width: 600px) {
    h4 {
        font-size: 2.5rem;
    }
} */

.rsis-image {
    background-position: center !important;
    object-fit: cover !important;
}
.rsis-container {
    background-position: center !important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: none !important;
}
.image-gallery-slide .image-gallery-image {
    object-fit: cover;
}
.image-gallery-content {
    width: 100% !important;
}
.image-gallery-slide-wrapper {
    width: 100% !important
}
.image-gallery-swipe {
    width: 100% !important
}
.image-gallery-slides {
    width: 100% !important
}
.image-gallery-image {
    object-fit: cover;
    width: 100% !important
}

.image-gallery-bullet {
    height: 12px !important;
}
.image-gallery-play-button {
    padding: 0 0 50px 30px
}

.slideClass {
    height: 600px;
    width: 100% !important
}
@media (max-width: 768px) {
    .image-gallery-bullet {
        height: 8px !important;
    }
}
@media (max-width: 480px) {
    .image-gallery-bullet {
        height: 8px !important;
        width: 8px !important;
    }
}



/* BURGER */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 20px;
}
.bm-burger-bars {
    background-color: #A02E33;
}
.bm-cross-button {
    height: 36px;
    width: 36px;
}
.bm-cross {
    background: #555555;
}
.bm-menu {
    background: #E7CBCC;
    /* opacity: 0.8; */
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
.bm-menu-wrap {
    width: 60% !important
}
.bm-item {
    display: inline-block;
    color:black
}
@media only screen and (max-width: 541px) {
    .bm-burger-button {
        top: 18px
    }
}
@media (max-width: 280px) {
    .bm-burger-button {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 20px;
    }
    .bm-menu-wrap {
        width: 100% !important
    }
}