.component-text-centered {
    color: #A02E33;
    width: 926px;
    text-align: center;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
    letter-spacing: 0;
    line-height: 39px;
}

@media only screen and (max-width: 600px) {
    .component-text-centered {
        width: 90%
    }
}
@media (max-width: 1000px) {
    .component-text-centered {
        width: 90% !important
    }
}
@media (max-width: 280px) {
    .component-text-centered {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 165px auto
    }
}