.footer-container {
    background-color: #E7CBCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 150px;
}
.footer-block {
    width: 180px;
    margin-left: 5px;
    margin-right: 5px
}
.footer-list {
    list-style: none;
    padding-left: 0;
    font-size: 0.9rem;
    padding-top: 0.5rem
}
.footer-list-contact {
    list-style: none;
    padding-left: 0;
    font-size: 0.9rem;
    border-bottom: solid 1px black;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem
}
.footer-title {
    font-weight: bold;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem
}
.footer-title-no-bottom {
    font-weight: bold;
    border-top: solid 1px black;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem
}
.footer-email {
    margin-top: 0.3rem
}