.news-index-container-products {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}
.news-index-container-products h1 {
    width: 709px;
}
.news-index-container-header {
    /* margin-top: 266px */
}
.news-index-card {
    /* border-top: solid 1px black; */
    width: 90%;
    /* width: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 450px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 25px;
    opacity: 0;
}
.news-index-container-text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 1%;
    width: 370px;
    margin-bottom: 50px;
    height: 445px;
    /* border-top: solid 1px black; */
    margin-top: 25px;
    padding-top: 15px;
    border-radius: 10px;
    transition: transform .2s;
}
.news-index-container-text-card:hover {
    transform: scale(1.05)
}
.box-shadow {
    -webkit-box-shadow: 1px 0px 23px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0px 23px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 23px 0px rgba(0, 0, 0, 0.2);
    transition: transform .2s
}
.box-shadow:hover {
    -webkit-box-shadow: 1px 0px 50px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0px 50px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0px 50px 0px rgba(0, 0, 0, 0.15);
}
.news-index-title {
    width: 100%;
    margin-bottom: 15px
}
.news-index-desc {
    margin-bottom: 10px
}

.index-link {
    text-decoration: none;
    color: black   
}
.index-link:hover {
    color: #A02E33
}

.object-fit-none {
    object-fit: none;
}
.object-position-top {
    object-position: top;
}
.object-position-center {
    object-position: center;
}
.object-position-left {
    object-position: left;
}
.object-position-right {
    object-position: right;
}
.object-position-0-0 {
    object-position: 0% 0%;
}