.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background: white;
    top: 0;
    z-index: 50;
}
.navbar-list-general {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 1477px;
    margin-left: 0.1rem;
    padding: 0;
    margin-top: 1.3rem
}
.navbar-list-general-element {
    font-family: 'DiatypeLight';
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer
}
.navbar-list-general-element:hover {
    color: #A02E33
}
.navbar-list-general-element:visited {
    color:none
}
.navbar-list-sub-menu {
    font-family: 'DiatypeLight';
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}
.navbar-list-sub-menu:hover {
    color: #A02E33
}
.navbar-list-sub-menu:visited {
    color: none
}
.navbar-logo {
    margin-top: 23px;
    margin-left: 22px;
}
.navbar-list-element {
    width: 100%;
    border-top: solid 1px black;
    margin-left: 11px;
    margin-right: 11px;
    padding-top: 0.3rem;
}
.navbar-list-element:hover {
    color: #A02E33
}
.navbar-list-element:visited {
    color: black
}
.navbar-list-element-contact {
    width: 80%;
    border-top: 1px solid black;
    margin-left: 11px;
    margin-right: 11px;
    padding-top: 0.3rem;
}
.navbar-list-element-lang {
    width: 20%;
    border-top: solid 1px black;
    margin-left: 11px;
    margin-right: 11px;
    padding-top: 0.3rem;
}
.navbar-menu {
    position: absolute;
    background: white
}