.navbar-burger-general {
    text-decoration: none;
    list-style: none;
}
.navbar-burger-general-element {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.navbar-burger-general-element img {
    width: 15px;
    height: auto;
}
.navbar-burger-element:visited {
    color: black
}
.navbar-burger-element {
    padding-top: 0.8rem;
    color: black
}

.navbar-menu-burger {
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    color: black
}
.navbar-list-sub-menu-burger {
    margin-top: 0.5rem;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 3px;
}
.navbar-list-sub-menu-burger img {
    width: 20px;
    height: auto;
}
.navbar-list-sub-menu-burger span {
    margin-top: 2px;
}
